<?xml version="1.0" encoding="UTF-8"?>
 
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.accoladescripts.printer"
      version="0.1.0">
    <name>Printer</name>
    <description>Epson SDK for cordova</description>
    <license>MIT</license>
    <keywords>phonegap,epson</keywords>
 
 
    <js-module src="www/printer.js" name="Printer">
        <clobbers target="window.printer" />
    </js-module>
 
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Printer">
                <param name="android-package" value="com.accoladescripts.Printer"/>
            </feature>
        </config-file>
 
        <source-file src="src/android/Printer.java" target-dir="src/com/accoladescripts/printer" />      
     </platform>          
</plugin>